doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel='stylesheet', href='/css/index.css')
    //- link(rel='stylesheet', href='/css/index.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, target-densitydpi=device-dpi, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    script(src='https://hm.baidu.com/hm.js?5263fdb444136a0ebe3ff6ff97bc65be')
    title 博物馆
  body
    script(src='http://res.wx.qq.com/open/js/jweixin-1.2.0.js')
    script(src='http://oppofans-1252859479.file.myqcloud.com/public/js/jquery-3.1.0.min.js')
    script(src='http://oppofans-1252859479.file.myqcloud.com/public/js/exif.js')
    script(src='http://oppofans-1252859479.file.myqcloud.com/public/js/uploadImage.js')
    script(src='http://oppofans-1252859479.file.myqcloud.com/public/js/ion.sound.min.js')
    //- script(src='http://oppofans-1252859479.file.myqcloud.com/public/js/index.js')
    script(src='/js/index.js')
    .wrap
      input#wx_code(type='text', value=wx_code, style='display:none')
      input#wx_from(type='text', value=wx_from, style='display:none')
      input#wx_isappinstalled(type='text', value=wx_isappinstalled, style='display:none')
      .page.loading
        img.loading_head(src='http://oppofans-1252859479.file.myqcloud.com/public/image/loading_head.png')
        .progress
          img.background(src='http://oppofans-1252859479.file.myqcloud.com/public/image/loading_bg.png')
          img.bar(src='http://oppofans-1252859479.file.myqcloud.com/public/image/loading_bar.png')
        img.loading_title(src='http://oppofans-1252859479.file.myqcloud.com/public/image/loading_title.png')
        .huadong
          .notice_active
            ul
              li.notice_active_ch
                span -多试几次，你会开启新的精彩-
              li.notice_active_ch
                span -惊喜总是需要等待-
              li.notice_active_ch
                span -这一次，OPPO为你准备了点不一样的-
              li.notice_active_ch
                span -别急，还需要一丢丢的时间-
              li.notice_active_ch
                span -Hey！你对新品期待吗？-
      .page.p0
        img(src='http://oppofans-1252859479.file.myqcloud.com/public/image/close.png', style='display:none')
        canvas#my_video_1_x.xlz_video
        #first_poster
        #first_enter_box
        #huadong-bg
        #rule-container
          #scroll-hand
          #paper-container
            #content.center
              #part1
                p
                  | 活动时间
                  br
                  |               招募时间： 2017.10.23 -- 2017.10.25
                  br
                  |               名单公布： 2017.10.26
                  br
                  |               招募人数： 30人
                br
                p
                  | ----------------------------------
                br
              #part2
                p
                  | 发布会信息
                  br
                  |                 发布时间：2017.11.2
                  br
                  |                 发布地点：北京
                br
                p
                  | ----------------------------------
                br
              #part3
                | 活动规则
                br
                |             1、进入页面，填写访客信息（姓名、手机号、照片）即可完成报名；
                br
                |             2、OPPO官方将会从所有报名用户中进行筛选，并于活动结束后公布获奖名单。
                br
                p
                | ----------------------------------
                br
                br
                |             其他说明
                br
                |             1、本次活动包含食宿、往返交通费、发布会门票，不收取额外费用；
                br
                br
                |             2、报名时填写的信息（姓名、手机号、照片等），需与本人有效证件信息相符，否则取消入选资格；
                br
                br
                |             3、请中奖人员保持电话畅通，若在2017.10.27 12:00前仍无法取得联系，视为放弃资格，官方将会重新进行筛选，新筛选的人员不会进行二次公布，以官方短信通知为准；
                br
                br
                |             4、本次活动仅针对用户开展，OPPO公司以及代理体系内人员，不可以入选；
                br
                br
                |             5、OPPO拥有本活动法律允许范围内的解释权。
              #rule_back
        #rule_btn
      .page.p1
        .upload_wrap
          .upload
            input#btn_upload(type='file', accept='image/*', onchange='selectFileImage(this);')
            img#pic(src="http://oppofans-1252859479.file.myqcloud.com/public/image/choose_pic.png")
          .name_block
            .name 姓名
            .input_name
              input#name(type='text', name='name')
          .phone_block
            .phone 手机
            .input_phone
              input#phone(type='number', name='phone')
        #in
        #welcome
      .page.p2
        #view
          #turn_off(style='display:none')
          #share_in(style='display:none')
          #bigCube
            #try
            #light_word(style='display:none')
            //- video#close_0(preload='preload', webkit-playsinline='', playsinline='', x5-video-player-type='h5', x5-video-player-fullscreen='false', x5-video-orientation='portrait', style='display:none')
            //-   source(src='./v/close_0.mp4', type='video/mp4')
            canvas#exit_0_c.xlz_video
            canvas#close_0_c.xlz_video
            //- video#exit_0(preload='preload', webkit-playsinline='', playsinline='', x5-video-player-type='h5', x5-video-player-fullscreen='false', x5-video-orientation='portrait', style='display:none')
            //-   source(src='./v/exit_0.mp4', type='video/mp4')
            #cube
              .stage
                .container
      .page.p3
        #shareit
          img#share_gif(src="http://oppofans-1252859479.file.myqcloud.com/public/image/share_my.gif")
        .share_wrap
            .share_name test
            .share_id 0001
            .share_pic
        .share_my
        .change_my
    script(src='http://oppofans-1252859479.file.myqcloud.com/public/js/preload.js')
    script(src='http://oppofans-1252859479.file.myqcloud.com/public/js/xlz.js')
    script(type='text/javascript').
      function timer(opj){
      $(opj).find('ul').animate({
      marginTop : "-0.1rem"
      },500,function(){
      $(this).css({marginTop : "0rem"}).find("li:first").appendTo(this);
      })
      }
      $(function(){
      var time=setInterval('timer(".notice_active")',3500);
      });

